li {
    margin-left: 40px;
}

.profile-image {
    height: 10rem;
    width: 12rem;
    border-radius: 100%;
    box-shadow: -3px -5px #cbc1c1;
    transition: 0.5s linear;
}

.profile-image:hover {
    height: 15rem;
    width: 17rem;
}

.profile-place {
    height: 20rem;
    width: 20rem;
    border-radius: 20%;
}

.link {
    text-decoration: none;
}

.link:hover {
    transition: 2s linear;
    background-color: #310d4d;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
}

.accordionStyle {
    margin: 0 80px 0 80px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .accordionStyle {
        margin: 0 30px 0 30px;
    }
}

ol li {
    margin: 10px 0 10px 0;
}