@keyframes example {
    from {
        font-size: 10px;
    }
    to {
        font-size: 25px
    }
}

.span {
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.span:hover {
    border-radius: 25px;
    box-shadow: 0 0;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: deepskyblue;
    color: white;
}