.formPart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}

.formInput, .formLabelText, .formLabelText {
    padding: 5px;
    border-radius: 10px;
    border: unset;
    transition: .2s;
    outline: 0 solid white;
}

.formInput:focus, .formLabelText:focus, .formLabelText:focus {
    background: whitesmoke;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 25px 1px darkcyan;
    scale: 2;
}

.formInput:valid {
    background: rgba(217, 255, 250, 0.75);
}

.contactModalFbContact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media (width < 1000px) {
    .formPart {
        width: 300px;
    }

    .formInput:focus, .formLabelText:focus, .formLabelText:focus {
        scale: 1.5;
    }
}

@media (width < 600px) {
    .formInput:focus, .formLabelText:focus, .formLabelText:focus {
        scale: 1.2;
    }
}