.formPart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}

.formInput, .formLabelText, .formLabelText {
    padding: 5px;
    border-radius: 10px;
    border: unset;
    transition: .2s;
    outline: none;
}

.formInput:focus, .formLabelText:focus, .formLabelText:focus {
    transition: all .2s ease-in-out;
    outline: 1px solid #00c4ff;
}

.contactModalFbContact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media (width < 1000px) {
    .formPart {
        width: 300px;
    }
}