.mainSpace {
    background: rgba(0,0,0,.85);
}

.link {
    text-decoration: none;
}

.link:hover {
    transition: 2s linear;
    background-color: #310d4d;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
}